<div class="details">
    <div class="game-banner">
      <img
        class="game-banner-img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Chevrongasstation.jpg/220px-Chevrongasstation.jpg"
        alt="background image"
      />
    </div>
    <div class="game-content">
      <div class="details-wrapper">
        <div class="game-header">
          <h1 class="game-header-title">American multinational </h1>
          <h1 class="game-header-title">energy corporation</h1>
          <br>
          <h2 class="game-header-release-date">
            Q319642
          </h2>
          <p class="game-header-genres">
          </p>
          <h2 class="description">American multinational energy corporation</h2>
        </div>
        <br>
        <ul class="list-group">
            
            <li class="list-group-item">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Chevron_Logo.svg/220px-Chevron_Logo.svg.png" alt="">
            </li>
            <li class="list-group-item">
                <h2>Country</h2>
                United States of America
            </li>
            <li class="list-group-item">
                <h2>Chairperson</h2>
                John S. Watson
            </li>
            <li class="list-group-item">
                <h2>Industry</h2>
                Petroleum industry
            </li>
            <li class="list-group-item">
                <h2>Total revenue</h2>
                166,339,000,000 United States dollar
            </li>
            <li class="list-group-item">
                <h2>Subsidiary</h2>
                <p>- ExtraMile</p>
                <p>- ExtraMile </p>
                <p>- Chevron (Netherlands) </p>
                <p>- Chevron (Australia)</p>
            </li>
            <li class="list-group-item">
                <h2>Employees</h2>
                48,600
            </li>
          </ul>
<br>
<iframe style="width: 80vw; height: 50vh; border: none;" src="https://query.wikidata.org/embed.html#SELECT%20DISTINCT%20%3Fitem%20%3Fitemlabel%20%3Fo%20%3FoLabel%0AWHERE%7B%0A%20%20SERVICE%20wikibase%3Alabel%20%7Bbd%3AserviceParam%20wikibase%3Alanguage%20%22en%22%7D%0A%20%20VALUES%20%3Fitem%20%7Bwd%3AQ319642%7D%0A%20%20%3Fitem%20%3Fp%20%3Fo.%0A%20%20%3Fitem%20wdt%3AP1128%20%3Fitemlabel.%0A%20%20%0A%7D" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups" ></iframe>
      </div>
    </div>
    
  </div>




 